<!DOCTYPE html>
<html th:replace="~{fragmentos/layout :: layout (~{::body}, 'Cadastro de cliente')}"
      xmlns:th="http://www.thymeleaf.org">
<body>
<div class="container">
    <form method="post" th:object="${cliente}">
        <div class="form-group">
            <label for="i-codigo">Código</label>
            <input class="form-control" disabled id="i-codigo" name="id" th:field="*{id}"/>
        </div>
        <div class="form-group">
            <label for="i-nome">Nome</label>
            <input class="form-control" id="i-nome" name="nome"
                   th:classappend="${#fields.hasErrors('nome') ? 'is-invalid' : ''}"
                   th:field="*{nome}"/>
            <div class="invalid-feedback" th:errors="*{nome}"></div>
        </div>
        <div class="form-group">
            <label for="i-cpf">CPF</label>
            <input class="form-control" id="i-cpf" name="cpf"
                   th:classappend="${#fields.hasErrors('cpf') ? 'is-invalid' : ''}"
                   th:field="*{cpf}"/>
            <div class="invalid-feedback" th:errors="*{cpf}"></div>
        </div>
        <div>
            <button class="btn btn-primary" type="submit">Gravar</button>
        </div>
    </form>
</div>
</body>
</html>