<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      th:replace="~{fragmentos/layout :: layout (~{::body}, 'Deletar animal')}">
<body>
	<div class="container">
		<form method="post">
			<div class="alert alert-danger" role="alert">
				<h3 class="alert-heading">Atenção</h3>
				<p>Deseja realmente exluir o animal 
					<b th:text="@{${animal.id} + ' - ' + ${animal.nome}}">1 - Totó</b>?</p>
				<hr>
				<button type="submit" class="btn btn-outline-danger">Confirmar</button>
			</div>			
		</form>
	</div>
</body>
</html>